[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
countryName                = Country Name (2 letter code)
countryName_default        = TH
stateOrProvinceName        = State or Province Name (full name)
stateOrProvinceName_default = Songkhla
localityName               = Locality Name (eg, city)
localityName_default       = Hatyai
organizationName           = Organization Name (eg, company)
organizationName_default   = Development-Certificates
organizationalUnitName     = Organizational Unit Name (eg, section)
organizationalUnitName_default = IT-Developer-Department
commonName                 = Common Name (e.g. server FQDN or YOUR name)
commonName_default         = localhost
emailAddress               = Email Address
emailAddress_default       = abdulloh.mukem@gmail.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = localhost.com
DNS.3 = www.localhost.com
IP.1  = 127.0.0.1